.record {
    display: block;
    text-align: center;
    position: relative;
    top: 200px;
}

.record a {
    text-decoration: none;
    color: #555;
}

.record a:hover {
    text-decoration: underline;
}

.split-line {
    display: inline-block;
    border: 1px solid #e7e7e7;
    width: 300px;
}


.sponsor-tips {
    color: #fff;
}

.sponsorship {
    max-width: 1100px;
    text-align: left;
}

.sponsorship .title{
    margin-bottom: 10px;
}

.sponsorship .frame{
    display: inline-block;
    border: 1px solid #f3f3f3;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 5px #efefef;
    text-align: center;
    max-width: 800px;
    background-color: #fff;
}

.sponsorship .frame iframe{
    border: 0;
    margin: 0;
    width: 102%;
}

.sponsorship a {
    display: inline-block;
    font-size: 0;
}

.sponsorship a img {
    border-radius: 8px;
}

.ic-github {
    font-size: 18px !important;
    margin-left: -1px;
    margin-right: -1px;
}

.ic-gitee {
    color: #c71d23;
}

.ic-qq {
    color: #61b0ef;
}

.ic-wiki {
    color: #9f9f9f;
}

#main #docsify-darklight-theme{
    position: absolute;
    top: 40px;
    left: calc(100% - 40px);
}